html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  top: 20em;
  height: 15em;
}

.robot {
  width: 320px;
  top: 3.4em;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 20px;
  left: 138px;
}

.robot-head-right {
  position: absolute;
  top: -38px;
  right: 37px;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  top: -38px;
  left: 37px;
}

.robot:hover .robot-head-right {
  right: 0;
}

.robot:hover .robot-head-left {
  left: 0;
}

.robot:hover .robot-brain {
  top: -3px;
}
